# vim: syntax=yaml

version: '3.8'

services:
  'pgpool':
    image: 'local/pgpool:${IMAGE_TAG}'
    build:
      context: .
    volumes:
    - type: bind
      source: ./secrets/
      target: /secrets/
      read_only: true
    - type: bind
      source: ./certs/
      target: /certs/
      read_only: true
    environment:
      NUM_PROCS: 15
      TLS_KEY_FILE: /certs/server.key
      TLS_CERT_FILE: /certs/server.crt
      MONITOR_PASSWORD_FILE: /secrets/monitor-password
      # each file is considered a username; the contects are the password
      USER_PASSWORDS_DIR: /secrets/users/
      # configure backend servers
      BACKEND_0_HOST: 'postgres-n1'
      BACKEND_0_PORT: '5432'
      BACKEND_0_WEIGHT: '1'
      BACKEND_1_HOST: 'postgres-n2'
      BACKEND_1_PORT: '5432'
      BACKEND_1_WEIGHT: '1'
    networks:
      database_network: {}
    ports:
    - '30400:5433'

networks:
  database_network: {external: true}

